body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font: 1.2rem;
    line-height: 1.4em;
    }
    h1{
    font-size: 2rem;
    line-height: 1.3em; /* espaciado entre las lineas de texto */
    }
    p{
    margin-bottom: 1.6em;
    }
    .contenedor{
    width: 85%;
    max-width: 850px; /* sera el maximo ancho que tendra los contenedores*/
    margin: 0 auto;
    }
    .header{
    background: rgb(39, 4, 46);
    color: rgb(41, 5, 46);
    padding: 2rem 0;
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    }
    
    .logo-nav-contenedor{
    display: flex;
    justify-content: space-between; /*separa el logo y la lista hacia los lados */
    align-items: center;
    }
    header a{
    color: rgb(206, 102, 192);
    text-decoration: none;
    }
    .navigator ul{
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .navigator ul li{
    display: inline-block;
    }
    .navigator ul li a{
    padding: 0.5rem 1rem;
    transition: all 0.7s linear;
    border-radius: 5px;
    }
    .navigator ul li a:hover{
    background: #551652;
    }
    .logo{
    letter-spacing: 15px;
    font-size: 1.2em;
    }
    .footer{
    background: #c28bb1;
    padding: 2rem 0;
    text-align: center;
    margin-top: 6rem;
    }
    main{
    padding-top: 7rem;
    }

    